@charset "utf-8";

body {
    background-image: url("https://i.ibb.co/vkRJFtD/Flag-of-da-chocc.png");
    background-size: cover;
}

#container {
    width: 960px;
    margin: 0 auto;
}

#header{
    background-image: url("http://jos.gluweb.nl/lessen/web/blue.png");
    background-repeat: no-repeat;
    height: 200px;
    text-align: center;
    font-size: 31px;
    line-height: 200px;
}

#footer {
    background-color: #ff22ff;
}